{% extends 'base.html' %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
        </div>
            
        <div class=" box-2 d-flex flex-column h-100">
            <div class="row">
                <div class="m-2">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="mt-2">
                                <p class="mb-1 h-1">Hello, </p>
                                <p class="text-muted mb-1">Sign up</p>
                            </div>
                            <hr>

                            <div class="form-group">
                                <label for="">Username : </label>
                                {{form.username}}
                                {% if form.errors.username %}
                                    <label class="text-danger">{{form.errors.username}}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="">Email : </label>
                                {{form.email}}
                                {% if form.errors.email %}
                                    <label class="text-danger">{{form.errors.email}}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="">Password : </label>
                                {{form.password1}}
                                {% if form.errors.password1 %}
                                    <label class="text-danger">{{form.errors.password1}}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="">Confirm Password : </label>
                                {{form.password2}}
                                {% if form.errors.password2 %}
                                    <label class="text-danger">{{form.errors.password2}}</label>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn float-end shadow btn-success px-4">Sign Up</button>
                            <p><a href="/login">Login</a></p>
                        </form>
                    </div>                     
                </div>
            </div>
        </div>     
    </div>
</div>  

{% endblock %}